site_name: Kotlin Introduction
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
  palette:
    - scheme: default
      primary: deep purple
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: deep purple
      accent: purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - toc:
      permalink: true

nav:
  - Home: index.md
  - 1. Primitives: 01_primitives.md
  - 2. Collections: 02_collections.md
  - 3. Functions: 03_functions.md
  - 4. Null Safety & Scope Functions: 04_null_safety_and_scope_functions.md
  - 5. Functional Patterns: 05_functional_patterns.md
  - 6. Classes: 06_classes.md
  - 7. Coroutines: 07_coroutines.md
